# Variables

In [1]:
name = "Akash"
age = 21
height = 5.9
print("Name:", name)
print("Age:", age)
print("Height:", height)

Name: Akash
Age: 21
Height: 5.9

## Data types

In [ ]:
x = 10
print(type(x)) # int
PI = 3.14
print(type(PI)) # float'
name = "akash"
print(type(name)) # string'
isStudent = True
print(type(isStudent)) # bool'
empty_var = None
print(type(empty_var)) # NoneType'

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

comment

In [9]:
# this is a comment

'''
This is a multi-line comment
file created for variable demonstration

'''

'\nThis is a multi-line comment\nfile created for variable demonstration\n\n'

In [10]:
a = 19
b= 39
sum = a+b
print("Sum:", sum)

Sum: 58

# type conversion

In [12]:
# Type conversion - Implicit,
a = 5
b = 3.0
print(a + b) # Python converts ans in float by default

8.0

In [15]:
# Type Casting - Explicitly
x = 10 # int
y = float(x) # convert to float
print(type(y))

<class 'float'>

In [17]:
a = 5.6
z = str(a) # convert to string
print(type(z))

<class 'str'>